  <nav id="nav-bar-1" class="navbar navbar-expand-lg bg-light navbar-light" aria-label="navbar1">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarCollapse" aria-controls="navbars2" aria-expanded="false" 
        aria-label="navbar2">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="col-lg-4" style="justify-content: center; text-align: center;">
                <img src="../../assets/img/flowerLogo.png" width="100px" id="logoImg1">
            </div>
            <div class="col-lg-4" style="justify-content: center; text-align: center;">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0" 
                  style="justify-content: center; text-align: center;">
                    <li class="nav-item">
                    <a class="nav-link active" routerLink="/" aria-current="page" 
                      style="color: gray;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/about" aria-current="page"  
                          style="color: gray;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/shop" aria-current="page" 
                          style="color: gray;">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" 
                          style="color: gray;">Contact</a>
                    </li>
                </ul>
            </div>
            <div id="icons-div1" class="col-lg-4" style="justify-content: center; text-align: center;">
                <div class="icons-div2" style="display: inline; padding: 2px;">
                  <i class="fa fa-user-circle"></i>
                </div>
                <div style="display: inline; padding: 2px;">
                  <i class="fa fa-caret-down"></i>
                </div>
                <div style="display: inline; padding-left: 10px; padding-right: 10px;">
                  <ng-template [ngIf]="!authService.isLoggedIn">
                    <a routerLink="/login" style="color: black; text-decoration: none;">LogIn</a>
                  </ng-template>
                  <ng-template [ngIf]="authService.isLoggedIn">
                    <a (click)="signOut()" style="color: black; text-decoration: none;">LogOut</a>
                  </ng-template>
                </div>
                <div style="display: inline; padding: 2px;" routerLink="/shopping-cart">
                  <i class="fa fa-shopping-cart position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle 
                    bg-secondary" style="font-size: 8px;">
                      {{numOfProducts}}
                    </span>
                  </i>
                </div>
            </div>
        </div>
    </div>
  </nav>

  <nav id="nav-bar-2" class="navbar navbar-expand-lg bg-light navbar-light" aria-label="navbar1">
    <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarCollapse" aria-controls="navbars2" aria-expanded="false" 
        aria-label="navbar2">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div id="icons-div1" class="col-lg-4" style="justify-content: center; text-align: center; 
          float: inline-end;">
          <div class="icons-div2" style="display: inline; padding: 2px;">
            <i class="fa fa-user-circle"></i>
          </div>
          <div style="display: inline; padding: 2px;">
            <i class="fa fa-caret-down"></i>
          </div>
          <div style="display: inline; padding-left: 10px; padding-right: 10px;">
            <ng-template [ngIf]="!authService.isLoggedIn">
              <a routerLink="/login" style="color: black; text-decoration: none;">LogIn</a>
            </ng-template>
            <ng-template [ngIf]="authService.isLoggedIn">
              <a (click)="signOut()" style="color: black; text-decoration: none;">LogOut</a>
            </ng-template>
          </div>
          <div style="display: inline; padding: 2px;" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle 
              bg-secondary" style="font-size: 8px;">
              {{numOfProducts}}
              </span>
            </i>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="col-lg-4" style="justify-content: center; text-align: center;">
                <img src="../../assets/img/flowerLogo.png" width="100px" id="logoImg1">
            </div>
            <div class="col-lg-4" style="justify-content: center; text-align: center;">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0" 
                  style="justify-content: center; text-align: center;">
                    <li class="nav-item">
                    <a class="nav-link active" routerLink="/" aria-current="page" 
                      style="color: gray;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/about" aria-current="page"  
                          style="color: gray;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/shop" aria-current="page"  
                          style="color: gray;">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" 
                          style="color: gray;">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </nav>
