.container-grid-2 {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    row-gap: 15px;
    column-gap: 50px;
}

@media (min-width: 576px) and (max-width: 992px) {
    .container-grid-2 {
        display: grid;
        grid-template-columns: 250px 250px;
        justify-content: center;
        gap: 18px;
        margin-top: 5px;
        row-gap: 45px;
    }
}

@media (max-width: 575px) {
    .container-grid-2 {
        display: grid;
        grid-template-columns: 250px;
        justify-content: center;
        gap: 18px;
        margin-top: 5px;
        row-gap: 45px;
    }
}