#imgdiv {
    background-image: url(../../assets/img3/loginBackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.container {
    height: 36em;
    width: 70em;
}

.form-control {
    width: 200px;
    font-size: 12px;
}
.form-group {
    padding-left: 12px;
}
.row {
    width: 250px !important;
    display: inline-block;
    padding-top: 130px;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.invalid-msg {
    font-size: 12px;
    color: red;
}
.form-group {
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        height: 100%;
        width: 100%;
    }
    #imgdiv {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        margin-top: 0;
        background-size: cover;
    }
    .row {
        padding-top: 90px;
    }
}
