<div class="container">
    <div class="text-center mt-3" *ngIf="currentQuantity == 0">
        <h2>Shopping cart is empty</h2>
    </div>
    <div>
        <table class="table">
            <tbody>
            <tr *ngFor="let flower of flowers">
                <td style="width: 100px">
                    <img src="{{flower.src}}" width="100px"> 
                </td> <!-- <span (click)="deleteRow(boughtP); 
                    onRemove(boughtP.sum, boughtP.quantity)"> -->
                <td>{{flower.name}} <br><br> <span (click)="deleteRow(flower); 
                    onRemove(flower.sum, flower.quantity)">
                    Remove</span></td>
                <td>{{flower.price}}$</td>
                <td><input type="number" min="1" style="width: 50px;" value="{{flower.quantity}}" 
                    (change)="changeFlowerFunc(flQty.value, flower)" #flQty></td>
                <td><span>{{flower.sum}}</span>$</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="float: right; width: 450px;" *ngIf="currentQuantity > 0">
        <div class="row">
            <div class="col-6">Subtotal:</div>
            <div class="col-6" style="text-align: right;">{{subtotal}}$</div>
        </div>
        <div class="row">
            <span class="col-6">Shipping:</span>
            <span class="col-6" style="text-align: right;" 
            *ngIf="subtotal < 100;else shipping">100$</span>
            <ng-template #shipping><span class="col-6" style="text-align: right;">FREE$</span></ng-template>
        </div>
        <hr class="m-0">
        <div class="row">
            <span class="col-6">Total:</span>
            <span class="col-6" style="text-align: right;">{{total}}$</span>
        </div>
        <div class="row" style="text-align: right; justify-content: end;">
            <button class="btn btn-dark" style="width: 100px;" routerLink="/product-order">Checkout</button>
        </div>
    </div>
</div>
