<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-3 text-center mt-2 mb-2" routerLink="/shop/simpathy">
            <div>Simpathy</div>
            <img src="../../assets/img2/category/category1.png" class="w-50 imgs-category">
        </div>
        <div class="col-sm-3 col-xs-3 text-center mt-2 mb-2" routerLink="/shop/anniversary">
            <div>Anniversary</div>
            <img src="../../assets/img2/category/category2.png" class="w-50 imgs-category">
        </div>
        <div class="col-sm-3 col-xs-3 text-center mt-2 mb-2" routerLink="/shop/congrulations">
            <div>Congrulations</div>
            <img src="../../assets/img2/category/category3.png" class="w-50 imgs-category">
        </div>
        <div class="col-sm-3 col-xs-3 text-center mt-2 mb-2" routerLink="/shop/getWell">
            <div>Get Well</div>
            <img src="../../assets/img2/category/category4.png" class="w-50 imgs-category">
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
