<div class="flowerBackgroundDiv">
    <img src="../../assets/img/flowerBackground1.jpg" alt="flowerBackground" id="flowerBackgroundImg">
    <div class="flowerBackgroundDiv-2">
        <h2>March into Spring!</h2>
        <span id="spring-spam">Bring the meadow to them with a daisy bouqet.</span><br>
        <button id="shop-button" class="btn btn-secondary btn-sm mt-3">SHOP FLOWERS</button>
    </div>
</div>
<div class="container" id="text-container">
    Established in 1910, FTD has been a premier provider of beautiful floral 
    arrangements and gorgeous mixed flower bouquets for over 100 years.
    Whatever the occasion, our evergreen collection of colorful steams, blossoming
    plants, and fragrant arrangements have warmed hearts all across the country with 
    our flower embodies. From birthday flowers to sympathy flowers, all of our
    hand-picked flower arrangements are worth more than a thousand words.
    <br><br>
    Our sprawling network of florists is chock-full of expert green thumbs with an 
    eye for elegance and perfection. As one of the largest and most trusted online 
    floral retailers in the world, we take immense pride in our industry-leading 
    title. Delivering quality, innovation, creative artistry, and dependability, 
    FTD is much more than just an online flower delivery service.
</div>
<div class="container">
    <div class="container-grid">
        <div>
            <img src="../../assets/img/flower1.jpeg" class="grid-img">
            <div class="flower-text">
                Fiesta Bouquet <br> $60
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower2.jpeg" class="grid-img">
            <div class="flower-text">
                Alluring Elegance Bouquet <br> $72
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower3.jpeg" class="grid-img">
            <div class="flower-text">
                Beyond Blue Bouquet <br> $55
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower4.jpeg" class="grid-img">
            <div class="flower-text">
                Mixed Roses <br> $35
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower5.jpeg" class="grid-img">
            <div class="flower-text">
                Belle of the Ball Bouquet <br> $45
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower6.jpeg" class="grid-img">
            <div class="flower-text">
                Rainbow Garden <br> $50
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower7.jpeg" class="grid-img">
            <div class="flower-text">
                Best Day Bouquet <br> $61
            </div>
        </div>
        <div>
            <img src="../../assets/img/flower8.jpeg" class="grid-img">
            <div class="flower-text">
                Smiles & Sunshine <br> $45
            </div>
        </div>
    </div>
    <br><br>
    <div class="load-button-div">
        <button type="button" id="load-button" routerLink="/shop" 
        class="btn btn-outline-secondary btn-sm">Load more</button>
    </div>
    <br><br>
    <div class="float1">
        <div>
            <div style="margin-bottom: 5px;">Send us a message</div>
            A: Laze Nancica 7, 21000 Novi Sad<br><br>
            T: 021/422-022<br><br>
            office@smartinit.net
        </div>
        <br><br>
        <div>
            MON-FRI: 7am - 10pm<br><br>
            SATURDAY: 8am - 10pm<br><br>
            SUNDAY: -
        </div>
        <br><br>
        <div>
            FAQ /<br><br>
            Shipping & Returns /<br><br>
            Store Policy /<br><br>
            Payment Methods /
        </div>
    </div>
    <br>
    <div class="float2">
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control input1" placeholder="Name" name="name1">
                </div>
                <div class="col">
                    <input type="email" class="form-control input1" placeholder="Email" name="email1">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control input1" placeholder="Subject" name="subject1">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea placeholder="Message" class="form-control input2" 
                        style="resize: none"></textarea>
                </div>
            </div>
            <div class="send-button-div">
                <button type="button" id="send-button" class="btn btn-outline-secondary btn-sm mt-2">
                    Send</button>
            </div>
            <br>
            <div class="news-div">
                <div class="row">
                    <div class="col">
                        <label for="news" class="form-label">Get our newsletters</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="email" id="news" placeholder="Enter your email here" name="email2">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-dark btn-sm">Subscribe Now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="pink-div">
        <div class="pink-div2">
            <h4>Send Get Well Wishes</h4>
            <div id="wishes-div-text" style="font-size: 12px; margin-bottom: 16px;">
                Brighten their recovery with beautiful florals, plants and gifts that will
                express your well wishes.
            </div>
            <button id="shop-button2" class="btn btn-secondary btn-sm">SHOP GET WELL FLOWERS & GIFTS</button>
        </div>
    </div>
    <div class="div-next-to-pink">
        <img src="../../assets/img/FTD_SplitBanner_Merx_1.png" alt="banner-img" id="img-next-to-pink">
    </div>
</div>
